body{
    display: flex;
}
.playerContainer, .computerContainer{
    display: flex;
    flex-direction: column;
}

.middleSection{
    display: flex;
    flex-direction: column;
}
.choiceContainer{
    display: flex;
}
.reset{
    display: flex;
}